.contacts-container {
    background-color: #FBFBFB;
    background-image: url("../../../assets/images/classfinal.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4vh;
}

.invitation {
    max-width: 20vw;
    width: 20vw;
    transition:  width 2s, height 1s, transform 2s;
}

.contacts-titles {
    color: black;
}

@media (max-width:1200px) {
    .invitation{
        transition:  width 2s, height 1s, transform 2s;
        width:100vw;
        max-width: 100%;
    }
}