<div class="container-fluid about-container paginita-container">
    <div class="row">



    <div class="col-lg-6 col-md-12">
        <div style="margin-top: 5vh; text-align:justify">
                <hr style="width: 400px"><h1 class="text-center" style="font-weight: bold; color: #156a86;">Get to know me</h1><hr>

                <div class="card card-cascade wider reverse my-4 z-depth-4 myfotob" style="display: none;">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight waves-light text-center" mdbWavesEffect>
                            <img src="../../../assets/images/blue.jpg" class="img-fluid">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/Card image-->
        
                        <!--Card content-->
                        <div class="card-body text-center">
                            <!--Title-->
                            <h4 class="card-title"><strong>Camila Herrera - 22 years old</strong></h4>
                            <h5 class="indigo-text"><strong>English teacher and translator</strong></h5>
        
                            <p class="card-text">Language professional and college student.
                            </p>
        
                        </div>
                        <!--/.Card content-->
        
                    </div>

                <p style="font-size: 18px; margin-top: 5vh">Hello, nice to meet you! My name is <i>Camila Herrera</i> and I'm a venezuelan in love with languages. 
                Foreigner languages have always been my pasion, I've learned over the years Japanese, German, Russian, Italian 
                and English, and of course my mother language: Spanish. I decided to focus on English above all the others 
                because it's my favorite language and I love everything about it. With that said, my objective in life is to 
                help others become part of this beautiful multicultural community.
                    <br>
                    <br>
                Professionally I've worked teaching English for 3 years now, I started teaching in my college's language courses 
                following a structured plan and with students of all ages. Currently I'm a private teacher and I'm working with kids, 
                teenagers and adults, adjusting always to the capacities and necessities of every student. I'm also 
                teaching to people living abroad via programs like Skype and Zoom. I consider myself a very dinamic, cheerful and responsible teacher.
                    <br>
                    <br>
                In the field of translation I have worked for 2 years now creating and translating captions for companies, as well as taking freelancer jobs 
                to translate novels, documents and guides in general.
                    <br>
                    <br>
                I'm a charismatic person and I'm always ready to give my best in order to help others accomplish their goals. I'm a woman who wants 
                to grow professionally and personally doing what she loves the best... Languages.
                </p>

        </div>
    </div>


    <div class="col-lg-6 col-md-12">
        <!--Card-->
            <div class="card card-cascade wider reverse my-4 z-depth-4 myfotoa">

                <!--Card image-->
                <div class="view overlay hm-white-slight waves-light text-center" mdbWavesEffect>
                    <img src="../../../assets/images/blue.jpg" class="img-fluid">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>Camila Herrera - 22 years old</strong></h4>
                    <h5 class="indigo-text"><strong>English teacher and translator</strong></h5>

                    <p class="card-text">Language professional and college student.
                    </p>

                </div>
                <!--/.Card content-->

            </div>
        <!--/.Card-->
    </div>

        <div class="row justify-content-center">
            <div class="col-8 text-center final-box z-depth-3">
                <h4 style="padding: 20px; color:white">I invite you to check my social media and to contact me if interested in the <i><b>Contact</b></i> section, 
                    where I will answer to any question or doubt by e-mail as soon as possible.
                        <br>
                        <br>
                    <b>Hope to work with you soon!</b></h4>
            </div>
        </div>
    </div>


</div>