<div class="container-fluid about-container paginita-container">
    <div class="row">

    <div class="col-lg-6 col-md-12">
        <div class="text-center" style="margin-top: 5vh;">
            <h1 style="font-weight: bold; color: #156a86;">
            Get to know me</h1>
                <hr style="width: 25vw; margin-top:3vh; height:1px; border:none; color:#333; background-color:#333;">
                <hr style="width: 20vw; margin-top:3vh; height:1px; border:none; color:#333; background-color:#333;">
        </div>
    </div>


    <div class="col-lg-6 col-md-12">
        <!--Card-->
            <div class="card card-cascade wider reverse my-4" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">

                <!--Card image-->
                <div class="view overlay hm-white-slight waves-light text-center" mdbWavesEffect>
                    <img src="../../../assets/images/blue.jpg" class="img-fluid">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>Camila Herrera - 22 years old</strong></h4>
                    <h5 class="indigo-text"><strong>English teacher and translator</strong></h5>

                    <p class="card-text">Language professional and college student.
                    </p>

                </div>
                <!--/.Card content-->

            </div>
        <!--/.Card-->
    </div>
    </div>
</div>