.about-container {
    background-color: #FBFBFB;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4vh;
}

.final-box {
    margin-top: 2vh;
    margin-bottom: 4vh;
    margin-left: 2vw; 
    margin-right: 2vw; 
    /*background-color: white;
    border: 1px solid rgb(233, 233, 233); */
}

.view img {
    display: inline;
}

.cardtwo {
    padding-top: 2pc;
}

.item {
    margin-bottom: 5px;
}

@media (max-width:991px) {
    .myfotoa {
        display: none;
    }
}

@media (max-width:991px) {
    .myfotob {
        display: block !important;
    }
}


@media (min-width: 2500px) {
    .aboutme-text {
        font-size:  !important;
    }
}

@media (max-width: 1490px) {
    .up-line {
        width: auto !important;
    }
}

@media (max-width: 770px) {
    .about-container {
        width: 100%;
    }

    .no-left {
        list-style-position: inside;
        padding-left: 0;
        text-align: left;
    }

    .final-box-text {
        font-size: 5vw;
    }

    .final-box {
        margin-bottom: 2vh !important;
    }

}

@media (max-width: 560px) {
    .cardtwo {
        padding-top: 0 !important;
    }
}

@media (min-width: 3300px) {
    .view img {
        height: 50vh;
    }
}