<!--NAVBAR MDBA-->

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light header">

    <logo>
        <img src="../../../assets/images/libro-cerrado.png" class="navbar-logo">
    </logo>

    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" mdbWavesEffect style="color: rgb(38, 48, 70)">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/program" mdbWavesEffect style="color: rgb(38, 48, 70)">Programs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" mdbWavesEffect style="color: rgb(38, 48, 70)">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutme" mdbWavesEffect style="color: rgb(38, 48, 70)">About me</a>
            </li>
            
        </ul>
        <span class="navbar-text white-text">
            <a class="social-media" href="https://www.facebook.com/CamiCamiHerrera" target="_blank" style="color: rgb(38, 48, 70)">
                <ion-icon name="logo-facebook"></ion-icon>
            </a>
            <a class="social-media" href="https://www.instagram.com/camiherrera18oct/" target="_blank" style="color: rgb(38, 48, 70)">
                <ion-icon name="logo-instagram"></ion-icon>
            </a>
            <a class="social-media" href="https://www.linkedin.com/in/camila-herrera-946895161/" target="_blank" style="color: rgb(38, 48, 70)">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a>
        </span>
    </links>
</mdb-navbar>