<nav class="navbar navbar-expand-lg navbar-light header">

  <img src="../../../assets/images/libro-cerrado.png" class="navbar-logo">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" mdbWavesEffect>Home</a>
      </li>
          <div class="align-self-center">
            |
          </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/programm" mdbWavesEffect>Programm</a>
      </li>
          <div class="align-self-center">
            |
          </div>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" mdbWavesEffect>Contact</a>
      </li>
    </ul>
    
    <div>
      <a class="social-media" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a class="social-media" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a class="social-media" href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>

  </div>
</nav>