.navbar-logo {
    height: 6vh;
    margin-right: 1vw;
}

.social-media {
    font-size: 3vh;
    margin-left: 1vw;
    color: inherit;
}

.new-header {
    background-color: red;
}

@media (max-width: 991px) {
    .social-media {
        margin-right: 2vw;
    }
}

@media (max-width: 450px) {
    .social-media {
        margin-right: 5vw;
        font-size: 8vw;
    }
}