<div class="container-fluid home-container">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <!--Carousel-->
          <mdb-carousel [isControls]="true" [animation]="'slide'">
            <mdb-slide>
                <img class="d-block w-100" src="../../../assets/images/wallpaper1.jpg" style="height: 59vh">
            </mdb-slide>
            <mdb-slide>
                <img class="d-block w-100" src="../../../assets/images/wallpaper2.jpg" style="height: 59vh">
            </mdb-slide>
            <mdb-slide>
                <img class="d-block w-100" src="../../../assets/images/wallpaper3.jpg" style="height: 59vh">
            </mdb-slide>
          </mdb-carousel>
        <!--/.Carousel-->
        </div>

    <div class="container-fluid">
        <div class="choose-area text-center">
          <h2><b>Choose your area of interest</b></h2>
        </div>
      <hr style="width: 40vw; margin-top:3vh; height:1px; border:none; color:#333; background-color:#333;">
    </div>

<!--Prueba HOME-->

    <section class="box1">
      <div class="container-lessons example z-depth-5">
        <h1>LESSONS</h1>
        <br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type 
          specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised 
          in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including
          versions of Lorem Ipsum.</p>
      </div>
    </section>

    <section class="box2">
      <div class="container-translation example z-depth-5">
          <h1>TRANSLATION</h1>
          <br>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised 
            in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.</p>
      </div>
    </section>

<!--Fin Prueba HOME-->
  </div>
</div>