.home-container {
    background-color: #FBFBFB;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4vh;
}

.choose-area {
    padding-top: 5vh;
}

.container-lessons {
    padding: 2vh;
    margin-top: 4vh;
}

.container-translation {
    padding: 2vh;
    margin-top: 4vh;
}

/* Home Cards */
.lessons-information {
    position: relative;
    height: auto;
    background-color: white;
    border: 1px solid rgb(196, 196, 196);
}

.lessons-title {
    position: absolute;
    top: -2vh;
    bottom: 0;
    left: -1vw;
    right: 0;
    background-color: #156a86;
    width: 25vw;
    height: 10vh;
}

.english-lessons-title {
    text-align: center;
    font-weight: bold;
    color: white;
}

.english-lessons-text {
    padding-top: 12vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 20px;
    font-weight: bold;
}

.translation-title {
    position: absolute;
    top: -2vh;
    bottom: 0;
    left: -1vw;
    right: 0;
    background-color: #156a86;
    width: 25vw;
    height: 10vh;
}

.buttons {
    background-color: rgb(38, 48, 70);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 1vw;
    border-radius: 50%;
    height: 110px;
    width: 110px;
    outline: 0;
}

.inicial-button {
    border-radius: 8px;
    background-color: white;
    border: 2px solid rgb(38, 48, 70);
    color: rgb(38, 48, 70);
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    /* width: 15vw; */
    /* margin-top: 5vh; */
}

@media(min-width: 992px) {
  .inicial-button-div:first-of-type {
    text-align: end;
  }

  .inicial-button-div:last-of-type {
    text-align: start;
  }
}
@media(max-width: 992px) {
  .inicial-button-div {
    text-align: center;
  }
}
