<div class="container-fluid lessons-form">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fas fa-user prefix"></i>
                <input mdbInputDirective type="text" id="fullname" class="form-control">
                <label for="fullname">Full name</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input mdbInputDirective type="text" id="email" class="form-control">
                <label for="email">E-mail adress</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fas fa-globe prefix"></i>
                <input mdbInputDirective type="text" id="country" class="form-control">
                <label for="country">Home country</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="md-form">
                    <i class="far fa-calendar-alt prefix"></i>
                    <input type="text" placeholder="Choose your ideal starting date" class="form-control" bsDatepicker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label>Student's age</label>
                <select class="form-control">
                    <option selected>Choose age...</option>
                    <option value="1">5-8</option>
                    <option value="2">9-17</option>
                    <option value="3">18-30</option>
                    <option value="3">30+</option>
                </select>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="form-group">
                <label>English level</label>
                <select class="form-control">
                    <option selected>Choose level...</option>
                    <option value="1">None</option>
                    <option value="2">Basic</option>
                    <option value="3">Intermediate</option>
                    <option value="3">Advanced</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <div class="md-form">
                <p class="contact-subtitle">Tell me about you and your interests</p>
                <textarea class="form-control message" placeholder="Write your message..." rows="4"></textarea>
            </div>
        </div>
    </div>

    <app-send></app-send>

</div>