<div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--Card 10-->
                            <div class="card" style="margin-bottom: 4vh">
  
                                <!--Card image-->
                                <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                    <img src="../../../../assets/images/books.jpg" class="img-fluid">
                                    <a>
                                        <div class="mask"></div>
                                    </a>
                                </div>
  
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Grammar</h4>
                                    <!--Text-->
                                    <p class="card-text">Follow the programm structure to learn grammatic abilities and rules.</p>
                                    <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white" routerLink="/program">See more...</a>
                                </div>
  
                            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
                            <!--Card 11-->
                            <div class="card" style="margin-bottom: 4vh">
  
                                <!--Card image-->
                                <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                    <img src="../../../../assets/images/speaking.jpg" class="img-fluid">
                                    <a>
                                        <div class="mask"></div>
                                    </a>
                                </div>
  
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">Basic speaking</h4>
                                    <!--Text-->
                                    <p class="card-text">Follow the programm structure to learn grammatic abilities and rules.</p>
                                    <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white" routerLink="/program">See more...</a>
                                </div>
  
                            </div>
        </div>
      </div>