<div class="row">
    <!--Card 1-->
    <div class="card card-one">

        <!--Card image-->
        <div class="view hm-white-slight waves-light" mdbWavesEffect>
            <img src="../../../../assets/images/books.jpg" class="img-fluid">
            <a>
                <div class="mask"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Grammar lessons</h4>
            <!--Text-->
            <p class="card-text">Follow the programm structure to learn grammatic abilities and rules.</p>
            <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">See more...</a>
        </div>

    </div>

    <!--/.Card 2-->

        <div class="card card-two">

            <!--Card image-->
            <div class="view hm-white-slight waves-light" mdbWavesEffect>
                <img src="../../../../assets/images/speak.jpg" class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">
                <!--Title-->
                <h4 class="card-title">English speaking lessons</h4>
                <!--Text-->
                <p class="card-text">Follow the programm to develop speaking techniques for fluency.</p>
                <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">See more...</a>
            </div>

          </div>


</div>