<div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <!--Card 10-->
            <a routerLink="/program">
            <div class="card" style="margin-bottom: 4vh">
  
                <!--Card image-->
                <div class="view hm-white-slight waves-light" style="cursor: pointer">
                    <img src="../../../../assets/images/books.jpg" class="img-fluid" draggable="false">
                </div>
  
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title" style="color: #3c3c3c">Grammar</h4>
                    <!--Text-->
                    <p class="card-text">Follow the programm structure to learn grammatic abilities and rules.</p>
                    <i class="fas fa-chevron-circle-down" style="font-size: 3vh; color: rgb(38, 48, 70)"></i>
                </div>
  
            </div>
            </a>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <!--Card 11-->
            <a routerLink="/program">
            <div class="card" style="margin-bottom: 4vh">
  
                <!--Card image-->
                <div class="view hm-white-slight waves-light" style="cursor: pointer">
                    <img src="../../../../assets/images/speaking.jpg" class="img-fluid" draggable="false">
                </div>
  
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title" style="color: #3c3c3c">Basic speaking</h4>
                    <!--Text-->
                    <p class="card-text">Follow the programm structure to learn grammatic abilities and rules.</p>
                    <i class="fas fa-chevron-circle-down" style="font-size: 3vh; color: rgb(38, 48, 70)"></i>
                </div>
  
            </div>
            </a>
        </div>
      </div>