<div class="container-fluid lessons-form">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fas fa-user prefix"></i>
                <input mdbInputDirective type="text" id="fullname" class="form-control">
                <label for="fullname">Full name</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input mdbInputDirective type="text" id="email" class="form-control">
                <label for="email">E-mail adress</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fas fa-globe prefix"></i>
                <input mdbInputDirective type="text" id="country" class="form-control">
                <label for="country">Home country</label>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="md-form">
                    <i class="far fa-calendar-alt prefix"></i>
                    <input type="text" placeholder="Choose your ideal starting date" class="form-control" bsDatepicker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="fas fa-book-open prefix"></i>
                <input mdbInputDirective type="text" id="page-number" class="form-control">
                <label for="page-number">Project's page number</label>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="md-form">
                <i class="far fa-calendar-alt prefix"></i>
                <input type="text" placeholder="Choose your ideal delivering date" class="form-control" bsDatepicker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 text-center">
            <div class="md-form">
                <p class="contact-subtitle">Tell me about you and your project</p>
                <textarea class="form-control message" placeholder="Write your message..." rows="4"></textarea>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-12 col-md-6 offset-md-3">
            <button class="btn waves-light send-button" mdbWavesEffect>Send
                <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
        </div>
    </div>

</div>