.programm-container {
    background-color: #FBFBFB;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4vh;
}

.program-title {
    background-color: #156a86;
    height: 12vh;
    width: 25vw;
}

.special-title {
    background-color: #156a86;
    width: 470px; 
    position: absolute; 
    top: -2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal {
    overflow: auto !important;
}

h4 {
    color: #3c3c3c;
}

@media (max-width: 770px) {
    .programm-container {
        width: 100%;
    }
}

@media (max-width: 1160px) {
    .program-title {
        width: 300px;
    }
}

@media (max-width: 1340px) {
    .program-title {
        width: 40vw;
    }
}

@media (max-width: 840px) {
    .program-title {
        width: 100%;
        padding-left: 2px; 
        padding-right: 2px; 
    }
}

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .ipad-card {
        flex: 0 0 50%;
        max-width: 50%;
      }
}

@media (max-width: 400px) {
    .little-title {
        font-size: 40px !important;
    }
}

@media (min-height: 1600px) {
    .program-title {
        height: 10vh;
        width: 12;
    }
}

@media (min-height: 2000px) {
    .program-title {
        height: 9vh;
        width: 8;
    }
}