<div class="container-fluid programm-container paginita-container">
  <div class="row text-center justify-content-center" style="margin-bottom: 5vh">
    <div class="col-6">
      <div class="program-title z-depth-2">
        <br>
        <h1 style="color: white; font-weight: bold; font-size: 50px">Programs</h1>
        <br>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <!--Card 1-->
            <div class="card" style="margin-bottom: 4vh">

                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbWavesEffect>
                    <img src="../../../../assets/images/books.jpg" class="img-fluid">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Grammar</h4>
                    <!--Text-->
                    <p class="card-text">Follow the programm structure to learn grammatic abilities and rules.</p>
                    <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                </div>

            </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                <!--Card 2-->
                <div class="card" style="margin-bottom: 4vh">

                    <!--Card image-->
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="../../../assets/images/vocabulary.jpg" class="img-fluid">
                        <a>
                            <div class="mask"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">Vocabulary</h4>
                        <!--Text-->
                        <p class="card-text">Learn how to express yourself with every word needed for each situation in your everyday life.</p>
                        <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                    </div>

                </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                  <!--Card 3-->
                  <div class="card" style="margin-bottom: 4vh">

                      <!--Card image-->
                      <div class="view hm-white-slight waves-light" mdbWavesEffect>
                          <img src="../../../assets/images/speaking.jpg" class="img-fluid">
                          <a>
                              <div class="mask"></div>
                          </a>
                      </div>

                      <!--Card content-->
                      <div class="card-body">
                          <!--Title-->
                          <h4 class="card-title">Basic speaking</h4>
                          <!--Text-->
                          <p class="card-text">Develop the ability of talking to others as an English native speaker would.</p>
                          <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                      </div>

                  </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--Card 4-->
                    <div class="card" style="margin-bottom: 4vh">

                        <!--Card image-->
                        <div class="view hm-white-slight waves-light" mdbWavesEffect>
                            <img src="../../../assets/images/greeting.jpg" class="img-fluid">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Greetings</h4>
                            <!--Text-->
                            <p class="card-text">Know the basics of meeting people, getting to know someone and hang out in the city.</p>
                            <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                        </div>

                    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                    <!--Card 5-->
                    <div class="card" style="margin-bottom: 4vh">

                        <!--Card image-->
                        <div class="view hm-white-slight waves-light" mdbWavesEffect>
                            <img src="../../../assets/images/specific.jpg" class="img-fluid">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Specific Topics</h4>
                            <!--Text-->
                            <p class="card-text">Learn how to act and what to say in specific everyday life situations.</p>
                            <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                        </div>

                    </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                      <!--Card 6-->
                      <div class="card" style="margin-bottom: 4vh">

                          <!--Card image-->
                          <div class="view hm-white-slight waves-light" mdbWavesEffect>
                              <img src="../../../assets/images/business.jpg" class="img-fluid">
                              <a>
                                  <div class="mask"></div>
                              </a>
                          </div>

                          <!--Card content-->
                          <div class="card-body">
                              <!--Title-->
                              <h4 class="card-title">Business</h4>
                              <!--Text-->
                              <p class="card-text">Find out how to behave and talk in the office environment, with co-workes and bosses.</p>
                              <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                          </div>

                      </div>
    </div>
  </div>
    
  <div class="row text-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
                        <!--Card 7-->
                        <div class="card" style="margin-bottom: 4vh">

                            <!--Card image-->
                            <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                <img src="../../../assets/images/travel.jpg" class="img-fluid">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Travel</h4>
                                <!--Text-->
                                <p class="card-text">Know everything you need to know to survive while visiting another country.</p>
                                <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                            </div>

                        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                          <!--Card 8-->
                          <div class="card" style="margin-bottom: 4vh">

                              <!--Card image-->
                              <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                  <img src="../../../assets/images/interview.jpg" class="img-fluid">
                                  <a>
                                      <div class="mask"></div>
                                  </a>
                              </div>

                              <!--Card content-->
                              <div class="card-body">
                                  <!--Title-->
                                  <h4 class="card-title">Interview practice</h4>
                                  <!--Text-->
                                  <p class="card-text">Discover and exceed in the questions that will prepare you for your future job interviews.</p>
                                  <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                              </div>

                          </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
                          <!--Card 9-->
                          <div class="card" style="margin-bottom: 4vh">

                              <!--Card image-->
                              <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                  <img src="../../../assets/images/phrases.jpg" class="img-fluid">
                                  <a>
                                      <div class="mask"></div>
                                  </a>
                              </div>

                              <!--Card content-->
                              <div class="card-body">
                                  <!--Title-->
                                  <h4 class="card-title">Phrases and Idioms</h4>
                                  <!--Text-->
                                  <p class="card-text">Learn colloquial expressions to understand and speak as a true native speaker.</p>
                                  <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                              </div>

                          </div>
    </div>
  </div>

  <div class="row text-center justify-content-center" style="margin-bottom: 5vh; margin-top: 5vh">
      <div class="col-4">
        <div class="program-title z-depth-2">
          <br>
          <h1 style="color: white; font-weight: bold; font-size: 40px">Other sections</h1>
          <br>
        </div>
      </div>
  </div>

  <div class="row text-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
                          <!--Card 10-->
                          <div class="card" style="margin-bottom: 4vh">

                              <!--Card image-->
                              <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                  <img src="../../../assets/images/activities.jpg" class="img-fluid">
                                  <a>
                                      <div class="mask"></div>
                                  </a>
                              </div>

                              <!--Card content-->
                              <div class="card-body">
                                  <!--Title-->
                                  <h4 class="card-title">Activities</h4>
                                  <!--Text-->
                                  <p class="card-text">See the list of activities you will do in each class and as homeworks during de lessons.</p>
                                  <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                              </div>

                          </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
                          <!--Card 11-->
                          <div class="card" style="margin-bottom: 4vh">

                              <!--Card image-->
                              <div class="view hm-white-slight waves-light" mdbWavesEffect>
                                  <img src="../../../assets/images/kids.jpg" class="img-fluid">
                                  <a>
                                      <div class="mask"></div>
                                  </a>
                              </div>

                              <!--Card content-->
                              <div class="card-body">
                                  <!--Title-->
                                  <h4 class="card-title">Kids</h4>
                                  <!--Text-->
                                  <p class="card-text">Classes for the little ones that are currently learning their own language. Help them develop their 
                                    second language as soon as possible.
                                  </p>
                                  <a class="btn waves-light" mdbWavesEffect style="background-color:  rgb(38, 48, 70); color: white">Open program</a>
                              </div>

                          </div>
      </div>
    </div>

</div>