.lessons-form {
    margin-top: 5vh;
}

.message {
    width: 100%;
    background-color: white;
    padding: 1pc;
    border-radius: 10px;
    resize: none;
}

.send-button {
    background-color: rgb(38, 48, 70);
}

.contact-subtitle {
    margin-top: 2vh;
    font-size:18px;
    font-weight:bold
}

input.ng-valid{
    border-bottom: 1px solid #00c851 !important;
    box-shadow: 0 1px 0 0 #00c851 !important;
}

input.ng-invalid.ng-touched{
    border-bottom: 1px solid #F44336 !important;
    box-shadow: 0 1px 0 0 #F44336 !important;
}