.lessons-form {
    margin-top: 5vh;
}

.message {
    width: 100%;
    background-color: white;
    padding: 1pc;
    border-radius: 10px;
    resize: none;
}

.send-button {
    background-color: rgb(38, 48, 70);
}

.contact-subtitle {
    margin-top: 2vh;
    font-size:18px;
    font-weight:bold
}